@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar discrète */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f0fdf4; }
::-webkit-scrollbar-thumb { background: #4ade80; border-radius: 999px; }
